<!doctype html>
<html lang="ru">
  <head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="profile" />
    <meta property="og:image" content='https://vitalya.me/og-image.png'/>
    <meta property="og:title" content="👨‍🦰 Vitalya Volynskiy" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="JS developer from Kazakhstan" />
    <meta property="og:description" content="JS developer from Kazakhstan" />
    <meta property="og:url" content="https://vitalya.me/" />

    <meta property="profile:first_name" content="Vitalya">
    <meta property="profile:last_name" content="Volynskiy">
    <meta property="profile:gender" content="male">
    <meta property="profile:username" content="vitalyavolyn">

    <link rel="canonical" href="https://vitalya.me/" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.1/github-markdown.min.css" integrity="sha512-h/laqMqQKUXxFuu6aLAaSrXYwGYQ7qk4aYCQ+KJwHZMzAGaEoxMM6h8C+haeJTU1V6E9jrSUnjpEzX23OmV/Aw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

    <title>{{ title }}</title>
    <style>
      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 650px;
        margin: 0 auto;
        padding: 45px;
      }

      @media (max-width: 767px) {
        .markdown-body {
          padding: 15px;
        }
      }

      .markdown-body {
        font-family: 'JetBrains Mono', monospace;
      }
    </style>
  </head>
  <body class="markdown-body">
    {{ content | safe }}
  </body>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(56772688, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true
    });
  </script>
  <noscript>
    <div>
      <img src="https://mc.yandex.ru/watch/56772688" style="position:absolute; left:-9999px;" alt="" />
    </div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
</html>
